{% extends 'adminBase.html.twig' %}

{% block title %}Exercices index
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		{% include "breadcrumb.html.twig" %}


		<!-- Main content -->
		<section class="content">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-5">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger mt-5">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('info') %}
				<div class="alert alert-info mt-5">
					{{ message }}
				</div>
			{% endfor %}
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Listes exercises</h3>
				</div>
				<!-- /.card-header -->
				<div
					class="card-body">
					<!-- / Met le code ici du tableau  -->

					<table id="table" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>Index</th>
								<th>Noms</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for exercice in exercices %}
								<tr>
									<td>{{ exercice.id }}</td>
									<td>{{ exercice.name }}</td>
									<td class="">
										<a class="btn btn-primary ml-1" href="{{ path('app_exercices_show', {'id': exercice.id}) }}">
											<i class="fa fa-eye"></i>
										</a>
										<a class="btn btn-success ml-1" href="{{ path('app_exercices_edit', {'id': exercice.id}) }}">
											<i class="fa fa-edit"></i>
										</a>
										{{ include('exercices/_delete_form.html.twig') }}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="3">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Index</th>
								<th>Noms</th>
								<th>Actions</th>
							</tr>
						</tfoot>
					</table>
					<a class="btn btn-primary ml-1" href="{{ path('app_exercices_new') }}">
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<!-- /.card-body -->

			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}
