<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}

	</head>
	<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default" cz-shortcut-listen="true">
		<div class="wrapper">

			{% include "adminSidebar.html.twig" %}
			<div class="main">
				<nav class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle">
						<i class="hamburger align-self-center"></i>
					</a>

					<form class="d-none d-sm-inline-block">
						<div class="input-group input-group-navbar">
							<input type="text" class="form-control" placeholder="Search…" aria-label="Search">
							<button class="btn" type="button">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search align-middle">
									<circle cx="11" cy="11" r="8"></circle>
									<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
								</svg>
							</button>
						</div>
					</form>


					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">

							<li class="nav-item dropdown">
								<a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
									{% if app.user.image  is empty %}
										<img src="{{ asset('/img/avatar/avatar' ~ random(1, 5) ~ '.png' )| imagine_filter('my_thumb') }}" class="avatar img-fluid rounded" alt="Photo Avatar">
									{% else %}
										<img src="{{ asset('/uploads/users/' ~ app.user.image )| imagine_filter('my_thumb') }}" class="avatar img-fluid rounded" alt="Photo Avatar">
									{% endif %}
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle me-1">
											<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
											<circle cx="12" cy="7" r="4"></circle>
										</svg>
										Profile</a>
									<a class="dropdown-item" href="{{path('user_edit', {'id': app.user.id})}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings align-middle me-1">
											<circle cx="12" cy="12" r="3"></circle>
											<path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
										</svg>
										Réglages</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('logout') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power align-middle me-2">
											<path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
											<line x1="12" y1="2" x2="12" y2="12"></line>
										</svg>
										Déconnexion</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<main class="content"> {% block body %}{% endblock %}
					</main>

					<footer class="footer">
						<div class="container-fluid">
							<div class="row text-muted">
								<div class="col-6 text-start">
									<p class="mb-0">
										<a href="https://adminkit.io/" target="_blank" class="text-muted">
											<strong>AdminKit</strong>
										</a>
										©
									</p>
								</div>
								<div class="col-6 text-end">
									<ul class="list-inline">
										<li class="list-inline-item">
											<a class="text-muted" href="#">Support</a>
										</li>
										<li class="list-inline-item">
											<a class="text-muted" href="#">Help Center</a>
										</li>
										<li class="list-inline-item">
											<a class="text-muted" href="#">Privacy</a>
										</li>
										<li class="list-inline-item">
											<a class="text-muted" href="#">Terms</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>


			<div class="notyf"></div>
			<div class="notyf-announcer" aria-atomic="true" aria-live="polite" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; outline: 0px;"></div>


			<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
				<defs id="SvgjsDefs1002"></defs>
				<polyline id="SvgjsPolyline1003" points="0,0"></polyline>
				<path id="SvgjsPath1004" d="M0 0 "></path>
			</svg>
			<div class="jvm-tooltip"></div>
		</body>
	</html>
